<div style="background-color: black; color: white;">
    <div class="container" style="padding: 0 120px;">
        <br>
        <br>
        <div class="row text-center" style="margin-left: -60px;">
            <div class="col-md-4">
                <p>Follow</p>
                <br>
                <ul class="list-unstyled list-inline">
                    <li><i id="social_link_facebook" class="fa fa-facebook fa-lg" aria-hidden="true" style="cursor: pointer;"></i></li>
                    <li><i id="social_link_twitter"  class="fa fa-twitter fa-lg" aria-hidden="true" style="cursor: pointer;"></i></li>
                    <li><i id="social_link_linkedin"  class="fa fa-linkedin fa-lg" aria-hidden="true" style="cursor: pointer;"></i></li>
                </ul>
            </div>
            <div class="col-md-4">
                <p>Contact</p>
                <br>
                <p>209-817-5370</p>
            </div>
            <div class="col-md-4">
                <p>Address</p>
                <br>
                <p style="margin-top: -15px;">110 N. San Joaquin St. 2nd floor</p>
                <p>Stockton, CA 95202</p>
            </div>
        </div>
        <br>
    </div>
    <div class="row" style="background-color: white; color: black; padding-top: 10px;">
        <div class="col-md-12 text-center">
            <p><i class="fa fa-copyright" aria-hidden="true"></i> 2017 by Heavy Crown Media</p>
        </div>
    </div>
</div>